<div class="main-container">
  <mat-drawer-container class="drawer-container" opened>
    <mat-drawer #drawer mode="side" opened>
      <mat-toolbar>{{ drawerToolbarTitle }}</mat-toolbar>
      <mat-nav-list>
        @for (item of navItems; track item) {
          <mat-list-item 
          [routerLink]="item.path" 
          routerLinkActive="active-router-link">
            {{ item.name }}
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary">{{ contentToolbarTitle }}</mat-toolbar>
      <div class="content-container">
        <router-outlet/>  
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
